body
{
	margin: 0px;
    color:black;
   font-family: arial;
}
.navbar
{
	height: 54px;
    display: flex;
}
.nav-logo
{
	background-repeat: no-repeat;
    margin-left: 50px;
    height: 22px;
    width:121px;
  
     padding:0px 6px 16px 10px;

   
}
.logo
{
	  
	  background-image: url(logo2.png);
	  height:23px;
	  width:108px;
	  background-size: cover;

}
.nav-menu
{
	color:#262626;
	padding:14px 8px 10px;
	font-size: 13px;
	margin: 1px 0px 0px;
	text-decoration: none;
}
.nav-menu:hover
{
	text-decoration: underline;
}
.nav-select
{
	height:17px;
	margin-left: 400px;
	margin-right: 0px;
	padding: 0px 10px 16px 15px;

}
.nav-icon
{
	height:17px;
	padding: -10px 10px 0px 0px;

}
.all
{
	font-size: 13px;
	text-decoration: none;
}
.all:hover
{
	text-decoration: underline;
}

#icon
{
    margin-right: 20px;
    border: none;


}
#icon:hover
{

}
.content
{
	background-image: url("content.avif");
	height: 600px;
}
#main 
{

   
	margin-top:100px;
    
    height: 490px;
}
#wrapper
{
    height: 500px;
	display: flex;
	margin-left: 50px;

}
#middle
{
	
	width:auto;
    padding: 0px 12px;
}
#box
{
	box-shadow: 1px 1px 10px  lightgray;
	height: 480px;
	width: 290px;
}

#middle-image
{   
	background-image:url(form.avif);
	width:290px;
	height: 150px;

	background-size: cover;
	
}
#card-text
{
	height: 240px;
	width:278px;
	padding: 24px 24px 0px;
}
#text
{
	font-size:24px;
	font:bold;
}
#card-base
{
	padding:0px 24px 24px 20px;
	width:229px;
	height:96px;
	margin-left: 0px;
}
#card-button
{



}
#button
{
	padding:10px 12px;
	border-radius:2px;
	border: none;
	margin: 8px 24px 8px 0px;
	height:38px;
	width: 136px;
	color:#ffffff;
	background-color:#0067b8;
}
#card-a
{

	
	font-weight: 600;
	color:#0067b8;
	
}
#middle2
{
	height:505;
	width:auto;
    padding: 0px 12px;	
}
#box2
{
	box-shadow: 0px 0px 5px  lightgray;
	height: 480px;
	width: 290px;
}
#middle-image2
{
    background-image: url(newform2.jpg);
   width:290px;
	height: 150px;
    background-size: cover;
   
}
#card-text2
{
	height:240px;
	width:278px;
	padding: 24px 24px 0px;
}
#text2
{
	font-size:24px;
	font:bold;

}
#button2
{
	padding:10px 12px;
	border-radius:2px;
	border: none;
	margin: 8px 0px;
	height:38px;
	
	color:#ffffff;
	background-color:#0067b8;
}
#card-base2
{
	padding:16px 24px 24px;
	width:229px;
	height:96px;
	margin-left: 0px;
}

#middle-image3
{
    background-image: url(newform3.jpg);
   width:290px;
	height: 150px;
    background-size: cover;
   
}
#middle-image4
{
    background-image: url(form1234.jpg);
   width:290px;
	height: 150px;
    background-size: cover;
   
}
.sec-menu
{
	background-image: url(1234356.avif);
    height:480px;
    padding: 50px;
    margin-top: 60px;
    margin-right:56px;
    margin-left: 60px;
    width: auto;
    text-align: center;
    background-size: cover;

}

#business
{
	margin-left: 60px;
	font-weight: 530;
}

#middle-image5
{
    background-image: url(1form.avif);
   width:290px;
	height: 150px;
    background-size: cover;
   
}
#middle-image6
{
    background-image: url(2form.avif);
   width:290px;
	height: 150px;
    background-size: cover;
   
}
#middle-image7
{
    background-image: url(3form.jpg);
   width:290px;
	height: 150px;
    background-size: cover;
   
}
#middle-image8
{
    background-image: url(4form.avif);
   width:290px;
	height: 150px;
    background-size: cover;
   
}

#sec-button
{
	padding:10px 12px;
	border-radius:2px;
	border: none;
	margin: 8px 24px 8px 0px;
	height:38px;
	width: 100px;
	color:#ffffff;
	background-color:#0067b8;
}
#sec-button2
{
	
	border-radius:2px;
	border: none;
	margin: 8px 24px 8px 0px;
	height:50px;
	width: 200px;
	color:#ffffff;
	background-color:#0067b8;
}
#social
{
	margin-top: 130px;
	margin-left: 60px;
}
#face
{
	font-size: 22px;
	margin-left: 25px;
}
#back
{
	display: flex;
	justify-content: flex-end;
   padding: 10px 12px;
  
}
#btn-back
{
	 border: none;
	 background-color: lightgray;
	 height: 40px;
	 width: 145px;
}
#btn-back hover
{
   
}
#game-pass
{
	text-align: left;
	color: #ffffff;
	width: 370px;
	margin-top: 70px;
}
#game-pass2
{
	text-align: left;
	color: #ffffff;
	width: 270px;

}
#game-pass3
{
	text-align: center;
	color: #ffffff;
	margin-top: 20px;
	background-color:#0067b8;
	border: none;
	height:40px;
	width: 100px;
}
#sec-menu2
{
	width: 370px;
	text-align: left;
	margin-left: 20px;
	padding: 30px;
}
#foot
{
	height:400px;
	background-color: #e8e9e8;
    display: flex;
}
#foot-list
{
	margin-left: 75px;
   	padding-top: 50px;
   	color: #6b6869;
}
li
{
	
	margin-left: -40px;
	font-weight: 50;
	font-size: 11px;
	margin-top: 20px;
    list-style-type: none;
}
#last-foot
{
	display: flex;
	background-color: #e8e9e8;
	padding-left: 70px;
	padding-bottom: 20px;
	font-size: 20px;
}
#last-foot1
{
    font-size: 11px;
    margin-left: 10px;
    padding-top: 3px;
    color: #6b6869;
}