<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
 integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
 crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="../../style.css" rel="stylesheet" >
    <link href="style.css" rel="stylesheet" >
</head>
<body>
    
    <header>

        <div class="navbar">  
          <a class="nav-logo" href="../../index.html">
         <div class="logo"> </div>
             
          
          
          </a> 
  
                |
                  <a class="nav-menu" id="microsoft365"  href="Microsoft365.html"> &nbsp; Microsoft 360 </a>
                  <a class="nav-menu" href="#"> Products </a>
                  <a class="nav-menu" href="#"> Plans and Pricing </a>
                  <a class="nav-menu" href="#"> Resources </a>
                
                  <a class="nav-menu" href="#"> Support  </a>
             
          <div class="nav-select">   
                   <a href="#" id="nav-select" class="all" > All Microsoft
                   <select id="option" >
                        <option>
                         
                        </option>
                   </select>
                  </a> 
          </div>
               <div class="nav-icon">
                   <i id="icon" class="fa-solid fa-magnifying-glass"> 
                       <span id="search">Search &nbsp; Microsoft.com</span></i>
                   
                   <div id="round"> 
                       <i id="icon " class="fa-regular fa-user">
                         
                       </i> 
                   </div> 
                </div>
           </div>
         </div>
     </header>  
     <content>
        <div>
           <div id="content-main">
            <div id="content-wrapper">
                <div>
                    <div id="content-menu">
                        <p id="content-paraTag">MICROSOFT 365 FOR HOME</p>
                        <h1 id="content-heading">Achieve the extraordinary</h1>
                        <div id="content-text">Unlock new capabilities, build your skills, and uncover 
                            worlds of possibility with Copilot1 in Microsoft 365.</div>
                        <div id="content-btn-div">
                            <a id="content-btn">
                                <span >See plans and pricing</span>
                            </a>
                        </div>    
                    </div>
                </div>
            </div>
                    <div >
                        <div id="menu-main">
                            <a class="menu-ancer-tag">
                                <div>
                                    For Home 
                                </div>
                            </a>
                            <a id="menu-ancer-hover" class="menu-ancer-tag">
                                <div>
                                    For Business > 
                                </div>
                            </a>
                            <a id="menu-ancer-hover" class="menu-ancer-tag">
                                <div>
                                    For enterprise >
                                </div>
                            </a>
                            <a id="menu-ancer-hover" class="menu-ancer-tag">
                                <div>
                                    For education >
                                </div>
                            </a>
                        </div>
                    </div>            
        </div> 
        </div>
        <div>
            <div>
                <ul>
                    <li>
                        <a> How it works</a>
                    </li>
                    <li>
                        <a>Featured news</a>
                    </li>
                    <li>
                        <a>What's included</a>
                    </li>
                    <li>
                        <a>Plans</a>
                    </li>
                    <li>
                        <a>Customer stories</a>
                    </li>
                </ul>
                <div>
                    <a>
                        <span>See plans and pricing</span>
                    </a>
                </div>
            </div>
        </div>
     </content>
    
</body>
</html>