#microsoft365 {
    font-size: larger;
    font-weight: bold;
}

#content-main {
    height: 37rem;
    width: 84.4rem;
    background-image: url(image/hero-background-for-home-370213.avif);
    background-size: cover;   
    padding-top: 7.5rem;
}

#content-wrapper {
    height: 15rem;
    width: 84.4rem;
    display: flex;
    justify-content: center;
    padding-top: 7.5rem;
}
#content-paraTag {
    text-align: center;
    font-size: 0.8rem;
    color: rgb(73, 72, 72);
}
#content-heading {
    text-align: center;
    font-size: 2.4rem;
}
#content-text {
    text-align: center;
    font-size: 0.9rem;
    width: 40rem;
}
#content-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#content-btn {
    background-color: #000000;
    width: 11rem;
    height: 3.2rem;
    color: white;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
#menu-main {
    margin-top: 40px;
    margin-left: 9rem;
    border-radius: 5rem;
    width: 66rem;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.menu-ancer-tag {
    color: wheat;
    background-color: black;
    width: 16.2rem;
    height: 4.6rem;
    border-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#menu-ancer-hover {
    color: black;
    background-color: #fff;
}
#menu-ancer-hover:hover {
    background-color: #e6e1e1;
}